.wrapper {
    min-height: calc(100vh - 76px);
    display: flex;
    flex-direction: column;
    width: 100%;
}

.pieChart {
    width: 50%;
    padding: 40px 38px 50px;

    background: #ffffff;
    box-shadow: 0px 9px 48px rgba(45, 48, 61, 0.07);
    border-radius: 22px;
}

.filter{
    margin: 23px 0;
}

.margin{
    margin-left: 29px;
    margin-right: 29px;
}

.pieChart{
    display: flex;
    justify-content: center;
    align-items: center;
}