body{
    color: #4F5E72;
}

.grid {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 20% 2fr;
    grid-template-areas: "nav content";
}

.content {
    background-color: yellow;
    grid-area: content;
}
