body {
    color: #4f5e72;
}

.grid {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 25% 2fr;
    grid-template-areas: "nav content";
}

.content {
    background-color: yellow;
    grid-area: content;
}

.page-wrapper {
    background-color: #fafcfe;
}

.top {
    padding: 23px 0 22px 30px;
    font-weight: 800;
    font-size: 23px;
    line-height: 30px;
    color: #334359;

    border-bottom: 1px solid #eaeff3;
}

.main{
    min-height: calc(100vh - 76px);

    display: flex;
    justify-content: center;
    align-items: center;
}

.block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    padding: 128px 80px;
    background: #ffffff;
    box-shadow: 0px 17px 37px rgba(135, 137, 157, 0.08);
    border-radius: 33px;
}

.block p {
    max-width: 267px;

    font-size: 0.8rem;
    text-align: center;
    color: #9CA8B8;
    font-weight: 500;
    line-height: 22px;
}
