.nav {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    grid-area: nav;

    position: relative;
    overflow: hidden;
    filter: drop-shadow(4px 4px 46px rgba(118, 114, 135, 0.09));
}

.header,
.list {
    padding: 18px 24px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    border-bottom: 1px solid #eaeff3;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}



.logo a{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.logo a span {
    font-size: 0.8rem;
    font-weight: bold;
}

.accountInfo {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.accountInfo > div {
    cursor: pointer;
}

.settings {
    position: absolute;
    top: 76px;
    left: 100%;
    height: 100%;
    width: calc(100% - 92px);
    z-index: 2;
    background-color: #fff;

    border-left: 1px solid #eaeff3;

    transition: 0.3s ease;
}

.settings.active {
    left: 92px;
}
