.nav {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    grid-area: nav;

    overflow: hidden;
}

.header,
.profile,
.list {
    padding: 24px 25px;
}

.header,
.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style-type: none;
}

.item{
    padding: 10px 0;
    display: flex;
    gap: 0.8rem;
    align-items: center;

    border-radius: 8px;

    cursor: pointer;
    transition: .3s ease;
}
.item:hover{
    transform: translateX(20px);
}

.profile {
    margin-top: auto;
    background-color: #f5f7f9;
}

.logo{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.logo span{
    font-size: 0.8rem;
    font-weight: bold;
}

.accountInfo{
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.accountInfo > div{
    cursor: pointer;
}

