.wrapper{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 28px;
    padding-right: 7px;
}

.title{
    font-size: 1.25rem;
}

.list{
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-top: 18px;

    font-size: .8rem;
    font-weight: 500;
}