.wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 28px;
    padding-right: 7px;

    overflow: hidden;
}

.title {
    font-size: 1.25rem;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 18px;

    font-size: 0.8rem;
    font-weight: 600;
}

.list li {
    width: 100%;

    position: relative;

    transition: 0.3s ease;
    cursor: pointer;
}

.list li:hover {
    color: #5855f0;
}

.list li::after {
    content: "";
    position: absolute;
    top: 0;
    right: -10px;
    display: block;
    width: 3px;
    height: 100%;
    border-radius: 5px 0 0 5px;
    background-color: #5855f0;

    transition: 0.1s ease;
}

.list li:hover::after {
    right: -7px;
}

.itemWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}


.svg {
    width: 16px;
}
